<h1 class="h3 mb-2 text-gray-800">Tiendas</h1>

<div>
  <%= link_to new_store_path, { class: "btn btn-info", id: "anadir-categoria-btn"} do %>
  <span class="fas fa-plus-square" >Add</span>
  <% end %>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaStores" class="table table-bordered" width="100%">
      <thead>
      <tr>
      <th>Nombre</th>
      <th>Calle</th>
       <th>Numero</th>
      <th>Zipcode</th>
       <th>Ciudad</th>
      <th>Pais</th>
      <th></th>
      </thead>
      <tbody>

      <% @stores.each do |sto| %>
        <tr id="store_<%= sto.id %>" >
        <td><%= sto.name %></td>
        <td><%= sto.street %></td>
        <td><%= sto.number %></td>
        <td><%= sto.zipcode %></td>
        <td><%= sto.city %></td>
        <td><%= sto.country %></td>
        <td>
        <%= link_to 'Edit', edit_store_path(sto) , html_options = {Class: "btn btn-info btn-xs"} %>
        <%= link_to "borrar", sto, remote: true, method: :delete, data:  { confirm: "¿Borrar tienda: #{sto.name}?"}, class: "btn btn-danger btn-xs" %>
        </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>


