<h1 class="h3 mb-2 text-gray-800">Categorias</h1>

<div>
  <%= link_to new_category_path, {remote: true, class: "btn btn-info", id: "anadir-categoria-btn"} do %>
  <span class="fas fa-plus-square" >Add</span>
  <% end %>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaCategories" class="table table-bordered" width="100%">
      <thead>
      <tr>
      <th>Id</th>
      <th>Nombre Categoria</th>
      <th>Descripcon</th>
      <th></th>
      </thead>
      <tbody>

      <% @categories.each do |cat| %>
        <tr id="categoria_<%= cat.id %>" >
        <td><%= cat.id %></td>
        <td><%= cat.name %></td>
        <td><%= cat.keywords %></td>
        <td>
        <%= link_to "editar", edit_category_path(cat), html_options = {class: "btn btn-info btn-xs", remote: true} %>
        <%= link_to "borrar", cat, remote: true, method: :delete, data:  { confirm: "¿Borrar categoria: #{cat.name}?"}, class: "btn btn-danger btn-xs" %>
        </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>

<%= render 'modal_categories' %>
