<h1 class="h3 mb-2 text-gray-800">Productos</h1>

<div>
  <%= link_to new_product_path, { class: "btn btn-info", id: "anadir-producto-btn"} do %>
  <span class="fas fa-plus-square" >Add</span>
  <% end %>
</div>

<div class="card shadow mb-4">
  <div class="card-body">
    <div class="table-responsive">
      <table id="tablaProducts" class="table table-bordered" width="100%">
      <thead>
      <tr>
      <th>Nombre</th>
      <th>Color</th>
       <th>Tamaño</th>
      <th>Precio</th>
       <th>Categoria</th>
      <th></th>
      </thead>
      <tbody>

      <% @products.each do |pro| %>
        <tr id="prore_<%= pro.id %>" >
        <td><%= pro.name %></td>
        <td><%= pro.color %></td>
        <td><%= pro.size %></td>
        <td><%= pro.price %></td>
        <td><%= pro.category_id %></td>
        <td>
        <%= link_to 'Edit', edit_product_path(pro) , html_options = {Class: "btn btn-info btn-xs"} %>
        <%= link_to "borrar", pro, remote: true, method: :delete, data:  { confirm: "¿Borrar producto: #{pro.name}?"}, class: "btn btn-danger btn-xs" %>
        </td>
        </tr>
      <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>


